.submenu-reel-tienda {
    background: rgba(0,0,0,0.8);
}

.submenu-reel-tienda a {
    color: #fff;
}

.submenu-reel-tienda a:hover {
    color: rgba(255,255,255,0.65);
}

.images-banner .images-titulo-ree {
    color: #fff;
}

.pricing-column {
    background-color: #fff;
}

.pricing-column.highlight {
    background-color: #FFF;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, .09);
}

.pricing-table > div:first-child .pricing-column-content, .pricing-table > div:first-child h3 {
    border-left: 1px solid #e4e4e4;
}

.pricing-column .pricing-column-content {
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.pricing-column.highlight .pricing-column-content {
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.pricing-column h3 {
    background-color: #fff;
    color: rgba(0,0,0,0.8);
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #EFEFEF;
    border-top: 1px solid #e4e4e4;
}

.pricing-column.highlight h3 {
    color: #fff;
    background-color: rgba(0,0,0,0.8);
}

.pricing-column.highlight h3 .highlight-reason {
    color: rgba(255, 255, 225, 0.4);
}

.pricing-column .qty {
    border: 1px solid rgba(0,0,0,0.8);
}

.banner-fedex {
    background: rgba(0,0,0,0.8);
    color: #fff;
}

.ree-redes-sociales {
    color: rgba(0,0,0,0.8);
}

.ree-redes-sociales:before {
    background-color: #fdcf09;
}

.ree-redes-sociales li a {
    background: #fff;
    color: rgba(0,0,0,0.8);
}

.ree-redes-sociales li a:hover {
    background: rgba(0,0,0,0.8);
    color: #fff;
}