/* Amarillo Logo #fdcf09 */
/* Azul Logo #19283f */

.topbar, footer, .btns-right{
    background: #19283f;
    color: #fff;
}

.header-content .my-cart .menu-shop li .list-view .list-check,
.search-header .search-icon,
.btn-page{
    background: #fdcf09;
    color: #19283f;
}

.swiper-promo .price-promo{
    background: #19283f;
    color: #ffffff;
}

.topbar .left-topbar p a{
    color: #fdcf09;
    font-weight: 700;
}

.header-content nav ul>li a.active,
.header-content nav ul>li a:hover{
    color: inherit;
}

.header-content .col-menu nav ul>li a.active,
.header-content .col-menu nav ul>li a:hover,
h2.tit-ree:before{
    background: #fdcf09;
}

.topbar .left-topbar p a:hover,
footer .footer-bootom .col-md-2-width ul li a:hover, 
footer .footer-bootom .col-md-2-width ul li a.active,
footer .copyright p .bluer a,
.btns-right:hover i,
.header-content .my-cart .menu-shop li .list-names a,
.header-content .my-cart .menu-shop li .list-names a:hover,
.btns-right.btn-cart:hover i,
.ree-item-nosotros i{
    color: #fdcf09;
}

.header-content nav ul>li>a,
.swiper-content-row,
h2.tit-ree,
.ree-item-nosotros h3,
.swiper-container-func h3{
    color: #19283f;
}

footer .footer-bootom .col-md-2-width ul li a,
footer .copyright{
    color: #d0d0d0;
}

footer .copyright{
    background-color: #141f31;
}

.btns-right.btn-cart{
    background: #f9f9f9;
    color: #19283f;
}

.header-content .my-cart .menu-shop{
    background: rgba(25, 40, 63, 0.95) none repeat scroll 0% 0%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.header-content .my-cart .menu-shop li{
    border-bottom: 2px solid #141f31;
}

.search-header input{
    background: transparent;
    color: #ffffff;
}
.swiper-promo .img-promo{
    background: #eee;
}

.swiper-pagination-bullet-active, .swiper-container-func .swiper-pagination-bullet-active {
    color:#fff;
    background: #19283f;
}

.bkg-ree-two{
    background: #f8f8f8;
}

.ree-panel .panel-default>.panel-heading{
    background-color: rgba(0, 0, 0, 0.045);
    color: #19283f;
}