body,
.latest-blog .box-content .blog-content .des,
.mbsc-form, 
.mbsc-control-w, 
.mbsc-btn, 
.mbsc-segmented{
    font-family: 'HelveticaNeue-Thin', Lato;
}

body.arial,
.arial .latest-blog .box-content .blog-content .des,
.arial .mbsc-form, 
.arial .mbsc-control-w, 
.arial .mbsc-btn, 
.arial .mbsc-segmented{
    font-family: arial, verdana, sans-serf;
}

body.open-sans,
.open-sans .latest-blog .box-content .blog-content .des,
.open-sans .mbsc-form, 
.open-sans .mbsc-control-w, 
.open-sans .mbsc-btn, 
.open-sans .mbsc-segmented
{
    font-family: "Open Sans", arial, verdana, sans-serf;
    font-weight: 300;
}

body.museo-sans,
.museo-sans .latest-blog .box-content .blog-content .des,
.museo-sans .mbsc-form, 
.museo-sans .mbsc-control-w, 
.museo-sans .mbsc-btn, 
.museo-sans .mbsc-segmented{
    font-family: "Museo Sans W01_500", arial, verdana, sans-serf;
}

body.lato,
.lato .latest-blog .box-content .blog-content .des,
.lato .mbsc-form, 
.lato .mbsc-control-w, 
.lato .mbsc-btn, 
.lato .mbsc-segmented{
    font-family: "Lato", arial, verdana, sans-serf;
    font-weight: 300;
}

body.color1, 
.color1 .header-content .my-cart .menu-shop li p, 
.color1 .header-content .my-cart .menu-shop li .list-qty p, 
.color1 .header-content .my-cart .menu-shop li .price{
    color: #8c8c8c;
}

body.color2, 
.color2 .header-content .my-cart .menu-shop li p, 
.color2 .header-content .my-cart .menu-shop li .list-qty p, 
.color2 .header-content .my-cart .menu-shop li .price{
    color: #353535;
}

.sin-bordes .mbsc-ios.mbsc-btn,
.sin-bordes .btn-price.btn-page, 
.sin-bordes .btn-cart-page,
.sin-bordes .mbsc-ios.mbsc-ltr .mbsc-stepper-plus .mbsc-segmented-content, 
.sin-bordes .mbsc-ios.mbsc-ltr .mbsc-segmented-item:last-child .mbsc-segmented-content, 
.sin-bordes .mbsc-ios.mbsc-rtl .mbsc-stepper-minus .mbsc-segmented-content, 
.sin-bordes .mbsc-ios.mbsc-rtl .mbsc-segmented-item:first-child .mbsc-segmented-content,
.sin-bordes .mbsc-ios.mbsc-ltr .mbsc-stepper-minus .mbsc-segmented-content, 
.sin-bordes .mbsc-ios.mbsc-ltr .mbsc-segmented-item:first-child .mbsc-segmented-content, 
.sin-bordes .mbsc-ios.mbsc-rtl .mbsc-stepper-plus .mbsc-segmented-content, 
.sin-bordes .mbsc-ios.mbsc-rtl .mbsc-segmented-item:last-child .mbsc-segmented-content,
.sin-bordes .form-control,
.sin-bordes .btn,
.sin-bordes .header-content .my-cart .menu-shop li .list-view .list-check,
.sin-bordes .btn-redes,
.sin-bordes .cont-puntos .item-punto ul
{
    border-radius: 0px;
}

/* CODIGO NORMAL */
h1, h2, h3, h4, h5, h6, .font-bebasneue,
.mbsc-page h1, .mbsc-page h2, .mbsc-page h3, .mbsc-page h4, .mbsc-page h5, .mbsc-page h6
{
    font-family: 'BebasNeue', Lato;
    letter-spacing: 0.5px;
}

a:focus, a:hover{
    text-decoration: none;
}

input:focus,
button:focus,
.form-control:focus
{
    outline: none;
    box-shadow: none;
}

.text-center{
    text-align: center;
}

input::placeholder {
    color: #ffffff;
}

.txt-upper{
    text-transform: uppercase;
}

h2.tit-ree{ 
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px;
}

h2.tit-ree:before{
    position: absolute;
    content: " ";
    top: calc( 100% + 5px );
    width: 70px;
    height: 4px;
    margin: 0px auto;
    left: calc( 50% - 35px);
}

.container-padd-ree{
    padding: 60px 0px;
    position: relative;
    z-index: 2;
}

.container-padd-quienes{
    padding-top: 60px;
}

.page-header{
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #ffffff;
    padding: 0px;
    margin: 0px;
    border-bottom: 0px;
}

.header-content nav ul.main-nav>li>a {
    font-size: 18px;
}

.nav-tabs>li>a, .nav-tabs{
    border: 0px;
}

.main-nav li {
    padding: 0 25px;
}

.header-content, .space-header{
    min-height: 55px;
}

.header-content .logo img{
    max-width: 120px;
}

.row-header{
    display: flex;
}

.row-header .logo,
nav > ul > li{
    display: flex;
    align-items: center;
    height: 100%;
}

.row-header .col-menu{
    display: flex;
    justify-content: center;
}

.header-content {
    /*background: rgba(0,0,0,0.8);*/
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    color: #fff;
}

.btns-right{
    padding: 17px;
    font-size: 20px;
    cursor: pointer;
}

.search-header label{
    width: 100%;
}

.search-header input {
    border: 0px;
    padding: 18px 13px 17px;
    width: 100%;
}

.search-header .search-icon {
    position: absolute;
    right: 0px;
    height: 100%;
    border: 0px;
    padding: 0px 14px;
    font-size: 15px;
    box-shadow: none;
    cursor: pointer;
}

.btn-page, .btn-cart-page{
    padding: 8px 0px;
    display: inline-block;
    font-size: 17px;
    position: relative;
}

.btn-price.btn-page, .btn-cart-page{
    padding: 8px 22px;
    border-radius: 23px;
    font-size: 17px;
}

.btn-cart-page{
    margin-bottom: 10px;
}

.btn-checkout {
    margin-top: 15px;
}

.btn-page:after {
    position: absolute;
    content: "\EA46";
    font-family: LineIcons;
    font-size: 11px;
    top: 13px;
    font-weight: 700;
    right: -15px;
}

.btn-price.btn-page:after{
    display: none;
}

.swiper-container .btn-page{
    margin-top: 15px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-content-row{
    width: 100%;
    height: 100%;
}

.swiper-right-content,
.swiper-left-content{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    text-align: left;
    width: 40%;
}

.swiper-right-content{
    left: 55%;
}

.swiper-left-content{
    left: 10%;
}

.swiper-content-row h2 {
    font-size: 2.7em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.swiper-content-row p {
    font-size: 1.7em;
    margin-bottom: 10px;
}

.swiper-container-banner{
    height: 600px;
}

.swiper-container-banner .swiper-slide{
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-container-testi{
    height: 350px;
}

.swiper-testi h3 {
    margin-bottom: 7px;
}
.swiper-testi p {
    margin-top: 7px;
}

.box-bottom{
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
}

.ree-item-nosotros{
    text-align: left;
    display: flex;
    align-items: center;
}

.ree-container-nosotros{
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.ree-item-nosotros .separator-btn{
    display: block;
    height: 38px;
}

.ree-item-nosotros i{
    display: block;
}

.ree-item-nosotros .row-reelance-icons{
    display: flex;
    justify-content: center;
}

.ree-item-nosotros .row-reelance-icons .row{
    display: flex;
    align-items: center;
    width: 100%;
}

.ree-item-nosotros .row-reelance-icons i{
    font-size: 2em;
}

.ree-item-nosotros .row-reelance-icons .icon-big{
    font-size: 7em;
}

.ree-item-nosotros i, .ree-item-nosotros p{
    margin-bottom: 15px;
}

.ree-item-nosotros h3{
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}

.ree-item-nosotros p{
    font-size: 1.3em;
    line-height: 1.4;
}

.swiper-promo .img-promo{
    height: 250px;
    width: 300px;
    text-align: center;
    position: relative;
    margin: 0px auto;
}

.swiper-promo .price-promo{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 7px 10px;
}

.swiper-promo .img-promo img {
    display: inline-block;
    height: 100%;
}

.swiper-promo h3 {
    margin-top: 15px;
    font-weight: 400;
    font-size: 0.8em;
    max-width: 300px;
    padding: 0px 10px;
}

.swiper-promo .separator-line, .swiper-container-func .separator-line {
    width: 80px;
    border-bottom: 1px solid #ddd;
    margin: 12px auto 0px;
}

.swiper-container-func{
    /* height: 240px; */
}

.swiper-container-func .swiper-slide{
    /* border: 1px solid #eee; */
}

.swiper-container-func .swiper-pagination-bullet {
    width: 120px;
    height: 20px;
    border-radius: 0px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
}

.swiper-container-func h3{
    font-size: 1.5em;
    margin-bottom: 15px;
}

.swiper-container-func p{
    width: 80%;
    margin: 0px auto;
}

.swiper-container-func .separator-line{
    margin-bottom: 15px;
}

.swiper-container-func p{
    font-size: 1em;
    line-height: 1.3;
    margin-bottom: 15px;
}

.panel-heading{
    cursor: pointer;
}

.ree-panel .panel-default{
    border-color: transparent;
    background: transparent;
}

.ree-panel .panel-default>.panel-heading{
    margin-top: 10px;
    border: 0px;
}

.ree-panel .panel-default>.panel-heading:first-child{
    margin-top: 0px;
}

.ree-panel .panel-title{
    font-size: 1.3em;
    position: relative;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1) inset;
    font-size: 1.2em;
    line-height: 1.4;
}

.bkg-ree-faq {
    position: relative;
    background-size: cover;
    z-index: 0;
}

.bkg-ree-faq:before {
    position: absolute;
    content: "";
    background-color: rgba(25,40,63,0.7);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.ree-icon-faq {
    position: absolute;
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
}

footer .footer-bootom{
    padding: 0px;
}

.footer-bootom h3{
    font-size: 17px;
}

.footer-bootom .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer.links > li > a > i {
    font-size: 10px;
    margin-right: 5px;
    display: none;
}

.ul-redes{
    display: flex;
    justify-content: space-between;
}

footer .footer-bootom .col-md-2-width ul.ul-redes li a:hover{
    text-decoration: none;
}

.ul-redes li i {
    font-size: 23px;
}

.footer-select .mbsc-ios.mbsc-select.mbsc-control-w{
    margin: 0px;
    border: 0px;
}

.footer-select .mbsc-ios .mbsc-select-ic{
    right: 0em;
}

.footer-select .mbsc-ios.mbsc-input input{
    padding-left: 0px;
}

.footer-select .mbsc-icono-lang{
    display: flex;
    align-items: center;
}

.copyright .container {
    padding: 10px 0px;
}

footer .copyright p.text {
    float: right;
}

.latest-blog .box-content .blog-content{
    margin: 0px;
}

.header-ree-interna{
    padding: 50px 0px 30px;
}

.content-blog .item-blog {
    padding: 30px 0px;
    border-bottom: 1px solid #dedede;
    position: relative;
}

.content-blog .row:first-child .item-blog{
    padding-top: 0px;
}

.content-blog .item-blog .blog-images img{
    width: 100%;
    margin-bottom: 30px;
}

.content-blog .row:last-child .item-blog{
    border-bottom: 0px;
}

.bl-fecha, .bl-tag{
    position: absolute;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    right: calc(100% + 10px);
}

.bl-tag{
    top: 130px;
    padding: 10px 5px;
}

.content-blog .row:first-child .item-blog .bl-tag{
    top: 100px;
}

.bl-save{
    font-size: 11px;
}

.bl-fecha i, .bl-tag i {
    font-size: 2em;
    margin-bottom: 10px;
    display: block;
}

.bl-day {
    font-size: 1.8em;
}

.bl-month {
    font-size: 1.1em;
}

.latest-blog{
    padding-bottom: 30px;
}

.blog-float{
    position: fixed;
    top: 140px;
    transition: top 0.05s ease 0s;
    -webkit-transition: top 0.05s ease 0s;
    -moz-transition: top 0.05s ease 0s;
}

.input-search .btn-default {
    color: #fff;
    background-color: #0071e3;
    border-color: #0071e3;
}

.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pagination>li>a, .pagination>li>span {
    font-size: 1.3em;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    border-radius: 0px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: #fdcf09;
    border-color: transparent;
}

.container-ree{
    font-size: 15px;
    line-height: 1.8;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-ree h3{
    margin: 20px 0px 10px;
}

.container-ree p{
    margin-bottom: 20px;
}

.bkg-404{
    padding: 70px 0px;
    color: #ffffff;
}

.bkg-404 h3 {
    font-size: 4em;
}

.bkg-404 p {
    font-size: 1.7em;
}

.bkg-404 .btn-volver{
    margin-top: 30px;
}

.msj-resultado{
    font-size: 2em;
    margin-bottom: 15px;
}

.header-content .my-cart .menu-shop li .list-view .list-check{
    border-radius: 40px;
    padding: 0px;
}

.btn-page:hover, 
.btn-page:focus,
.header-content .my-cart .menu-shop li .list-names a:hover{
    text-decoration: underline;
}

.header-content .my-cart .menu-shop.menu-account{
    width: 165px;
}

.header-content .my-cart .menu-shop.menu-account li{
    top: 0px;
}

.header-content nav ul>li>a{
    font-weight: 400;
}

.img-inicio{
    margin: 20px 0px;
    text-align: center;
    display: block;
}

.img-inicio img{
    max-width: 200px;
}

.mbsc-ios .mbsc-checkbox-box{
    border-radius: 6px;
}

.mbsc-ios .mbsc-checkbox-box{
    left: 1em;
    right: auto;
}
.mbsc-ios .mbsc-label{
    position: relative;
    left: 42px;
}

.btn-complete .mbsc-ios.mbsc-btn{
    margin: .5em 0em;
    width: 100%;
    padding: .625em 0.8em;
}

.btn-page.no-arrow:after{
    display: none;
}

.mbsc-ios.mbsc-input-box.mbsc-control-w, 
.mbsc-ios.mbsc-input-outline.mbsc-control-w{
    margin-bottom: 20px;
}

.mbsc-err-msg{
    display: none;
}

.is-error .mbsc-err-msg{
    display: inline-block;
}

.page-404{
    padding: 70px 0px;
}

.page-404 h1{
    font-size: 15em;
    line-height: 1em;
}

.sec-contacto{
    font-size: 15px;
}

.sec-contacto ul li{
    margin-bottom: 7px;
}

.sec-contacto i{
    width: 23px;
    display: inline-block;
    text-align: left;
}

.cont-puntos, .cont-escribenos{
    padding: 50px 0px;
    position: relative;
}

.cont-escribenos:before {
    position: absolute;
    content: " ";
    width: 40%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.google-map h2,
.google-map p,
.google-map ul li,
.cont-escribenos h2,
.cont-escribenos p,
.cont-escribenos ul li{
    margin-bottom: 7px;
}

.cont-puntos h3{
    font-size: 1.2em;
}

.cont-puntos{
    /* display: none;*/
}

.cont-puntos .item-punto{
    display: flex;
    justify-content: center;
}

.cont-puntos .item-punto ul{
    padding: 15px 25px;
    border-radius: 6px;
}

.btn-redes{
    padding: 7px 30px;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 15px;
    display: inline-flex;
    align-items: center;
}

.btn-whatsapp i, .btn-messenger i{
    font-size: 25px;
    margin-right: 10px;
}

.plantillas{
    font-size: 16px;
    line-height: 1.5;
    padding: 50px 0px;
}

.plantillas p, .plantillas  h1, .plantillas h2, .plantillas h3, .plantillas h4, .plantillas h5, .plantillas h6{
    margin-bottom: 15px;
}

.plantillas ul li{
    position: relative;
    padding-left: 20px;
}
.plantillas ul li:before{
    position: absolute;
    content: "\EA4C";
    margin-right: 5px;
    left: 0px;
    font-family: LineIcons;
}

.blog-last{
    padding: 50px 0px 10px;
}

.table-cart img {
    max-width: 100px;
}

.product-dis{
    margin-bottom: 15px;
}

.product-name{
    padding: 10px 0px 50px;
}

.main-content .product-name .product-code .product-related h3,
.main-content .product-name .product-code .product-dis h3,
.main-content .product-name .product-code .product-total h3,
.main-content .product-name .product-code .product-form h3{
    font-size: 22px;
}

.producto-rela{
    display: block;
    margin-top: 15px;
    padding: 10px 0px;
    max-width: 320px;
}

.producto-rela a.nombre-prod{
    margin-left: 0px;
}

.producto-rela .price{
    font-size: 15px;
    font-weight: 700;
    margin-top: 7px;
}

.acc-code{
    max-width: 650px;
}

.label-title h3{
    display: inline-block;
    padding-left: 35px;
}

.mbsc-address-other, .mbsc-account-new{
    display: none;
}

.mbsc-ios.mbsc-select.mbsc-control-w{
    margin: 1em 1em .75em;
    border: 1px solid transparent;
    border-radius: 8px;
}

.mbsc-notas-pedido .mbsc-ios.mbsc-label-floating.mbsc-input .mbsc-label{
    min-width: 100%;
}

.row-productos{
    display: flex;
}
.row-productos .col{
    margin: 10px;
}

.row-tienda-prod{
    display: flex;
    align-items: center;
}

.row-tienda-prod h3{
    font-size: 2em;
    margin-bottom: 15px;
}

.row-tienda-prod .desc-col{
    font-size: 1.4em;
    line-height: 1.3em;
}

.row-tienda-prod .img-col{
    text-align: right;
    margin-right: 30px;
}

.row-tienda-prod .img-prod{
    max-width: 350px;
    object-fit: contain;
}

.row-tienda-prod .mbsc-ios.mbsc-btn{
    margin: 1em 0em;
    font-size: 16px;
}

.tienda h4{
    margin-bottom: 7px;
    font-size: 1.7em;
}

.arma-paquete{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.arma-paquete img{
    max-width: 150px;
}
.arma-paquete .desc-paq{
    width: 50%;
    padding-left: 20px;
}

.arma-paquete .cantidad, .arma-paquete .precio{
    font-size: 1.3em;
    margin: 5px 0px;
}

.arma-paquete .precio{
    font-weight: 700;
}

.tienda .product-name{
    padding: 0px;
}

.tienda .row-tienda-prod .mbsc-ios.mbsc-btn{
    width: 100%;
}

.tienda .main-content .product-name .table-responsive table{
    margin-top: 0px;
}
.finalizar-compra.main-content .product-name .table-responsive table{
    margin-top: 15px;
}

.compra-float{
    position: relative;
    top: 0px;
    max-width: 350px;
    width: 100%;
}

.row-pagos{
    font-size: 16px;
}

.row-pagos i{
    font-size: 3.5em;
}

.main-content .product-name .table-responsive.table-pedido th,
.main-content .product-name .table-responsive.table-pedido td{
    text-align: left;
}

.mbsc-ios .mbsc-radio-box {
    right: auto;
    top: 9px;
    border: 0.125em solid #1274de;
    padding: 9px;
    margin-top: 0px;
}
.mbsc-radio-box {
    width: 1.6em;
    height: 1.6em;
}
.mbsc-ios .mbsc-radio-box:after{
    left: 40%;
    top: 49%;
    width: 0.8em;
    height: 0.4em;
}


.check-href .mbsc-label {
    display: inline-block;
    padding-left: 42px;
    left: 0;
    margin-right: 6px;
}

.check-href a{
    position: relative;
    z-index: 4;
}

.cuenta{
    margin: 4em 0em;
    display: block;
    float: left;
    width: 100%;
}

.row-cuenta > nav{
    float: left;
    width: 30%;
}

.row-cuenta > .container-account{
    float: right;
    width: 68%;
    font-size: 17px;
}

.row-cuenta .ul-account a{
    font-size: 16px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    border-bottom-width: 0;
    display: block;
    padding: 0.8em 1em;
}

.row-cuenta .ul-account li:last-child a{
    border-bottom-width: 1px;
}

.row-cuenta .ul-account a.active{
    background: #f3f3f3;
}

.float-fixed-fuentes{
    position: fixed;
    top: 80px;
    left: 0px;
    z-index: 1001;
    font-size: 18px;
}

.float-fixed-fuentes .icono-float{
    background: #c7c7c7;
    padding: 10px;
}

.fuentes{
    background: #c7c7c7;
    margin-top: 11px;
    padding: 10px;
}

.fuentes a{
    display: block;
    cursor: pointer;
}


@media (min-width: 768px){
    .form-inline .form-group {
        display: block;
    }
}
